
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewBag.Title = "خطا";
}

<style>
    h3 {
        text-align: center;
        color: red;
    }
</style>


@if (TempData["ErrorMsg"] != null)
{
    <h3>@TempData["ErrorMsg"].ToString()</h3>
}
else
{
    <h3>خطایی پیش آمده است</h3>
}




