@model HSF.BaseSystemModel.Model.DTO.UserDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="font-size:20px;text-align:center;border:1px solid blue;padding:5px;border-radius:5px;box-shadow:0 0 5px green ">


        <p> @Model.FullName عزیز</p>

        <a href="@Model.URL">لینک فعال سازی</a>

    </div>
</body>
</html>
