
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserActivation</title>
</head>
<body>
    <div> 
        <h1 style="text-align:center">
            @ViewBag.Msg
        </h1>

        <p>
            <a href="/User/Login">ورود</a>
        </p>
    </div>
</body>
</html>
