

@{
    ViewBag.Title = "فراموشی رمز عبور";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}



<div class="login-box">
    <div class="login-logo">
        <a href="~/index2.html"><b>فراموشی رمز عبور</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">نام کاربری و یا ایمیل خود را وارد کنید و سپس تایید کنید</p>


        @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group has-feedback">
                <input type="text" id="Email" name="Email" class="form-control" placeholder="نام کاربری و یا ایمیل">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="row">
               
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" onclick="return Validate()" class="btn btn-primary btn-block btn-flat">تایید</button>
                </div>
                <!-- /.col -->
            </div>

           

        }




        
        @Html.ActionLink("ورود", "Login", "User")

    </div>
    <!-- /.login-box-body -->
</div>





<script>
    function Validate() {
        debugger;
        if ($("#Email").val() == "" ) {
            alert('نام کاربری و یا ایمیل را وارد کنید');
            return false;
        }
        return true;
    }
</script>
