
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterSuccess</title>
</head>
<body>
    <style>
        h1, h2 {
            color: green;
        }
    </style>

    <h1 style="text-align:center">
        ثبت نام با موفقیت به پایان رسید
    </h1>

    <h2 style="text-align:center">
        یک ایمیل حاوی لینک فعال سازی برای شما ارسال گردید
    </h2>
</body>
</html>
